/*CSS file for FormElement component*/
/*FormElement with gray text and white background, text aligned left and 12px font, gray green border
When hovered over -> turns darker after 0.5 seconds
When clicked -> turns brighter*/

FormElement {
    color: gray;
    background-color: white;
    text-align: left;
    font-size: 12 px;
    border-color: #769375;
}

.FormElement:hover {
    border-color: #369633;
    transition: 0.5 s;
}

.FormElement:focus {
  border-color: #5cea57;
}
