/*CSS file for Letter component*/
/* White background and gray letter, when the focus is on it it turns green*/

.grayLetter {
	background-color: #e4e4e4;
	color: white;
	text-shadow: 0px 0px 0.05em black;
	text-align: center;
	font-size: 2em;
	text-decoration-style: solid;
	width: 2em;
	height: 2em;
	margin: 0.5em;
}

.grayLetter:focus {
	background-color: #e4e4e4;
}

.greenLetter {
	background-color: #8fff6c;
	color: white;
	text-shadow: 0px 0px 0.05em black;
	text-align: center;
	font-size: 2em;
	text-decoration-style: solid;
	width: 2em;
	height: 2em;
	margin: 0.5em;
}

.yellowLetter {
	background-color: #f4ff8e;
	color: white;
	text-shadow: 0px 0px 0.05em black;
	text-align: center;
	font-size: 2em;
	text-decoration-style: solid;
	width: 2em;
	height: 2em;
	margin: 0.5em;
}

.redLetter {
	background-color: #ff7171;
	color: white;
	text-shadow: 0px 0px 0.05em black;
	text-align: center;
	font-size: 2em;
	text-decoration-style: solid;
	width: 2em;
	height: 2em;
	margin: 0.5em;
}