/*CSS file for Letter component*/
/* White background and gray letter, when the focus is on it it turns green*/

.grayLetter {
	background-color: #9c9c9c;
	color: black;
	text-align: center;
	font-size: 16 px;
}

.grayLetter:focus {
	background-color: #818181;
	color: black;
	text-align: center;
	font-size: 16 px;
}

.greenLetter {
	background-color: #71ff45;
	color: white;
	text-align: center;
	font-size: 16 px;
}

.yellowLetter {
	background-color: #ecff45;
	color: white;
	text-align: center;
	font-size: 16 px;
}

.redLetter {
	background-color: #ff4545;
	color: white;
	text-align: center;
	font-size: 16 px;
}